<header ng-include="'components/navbar/navbar.html'"></header>

 <div class="techs" layout="row" layout-align="center">
  <md-card ng-repeat="product in main.trending | startFrom:main.currentPage*main.pageSize | limitTo:main.pageSize" flex="80" flex-md="40" flex-lg="25">
  <div layout="column" layout-align="space-between center">
     <a ng-href="{{product.url}}" class="listing">
      <img ng-src="{{product.MainImage.url_170x135}}" class="grid-product-image" alt="image missing">
        <p class="price"> <strong>{{product.price | currency}}</strong></p>
        <p class="title-grid"> {{product.title}} </p>
     </a>
   </div>
  </md-card>
</div>
<section layout="row" layout-align="center center">    
  <md-button ng-disabled="main.currentPage == 0" ng-click="main.currentPage=main.currentPage-1" class="md-raised">
    Prev
  </md-button>
  <p>{{main.currentPage+1}} of {{main.numPages()}}</p>
  <md-button ng-disabled="main.currentPage >= main.numPages()-1" ng-click="main.currentPage=main.currentPage+1" class="md-raised">
    Next
  </md-button>
</section>