<header ng-include="'components/navbar/change-head.html'" class="view-change"></header>

<div class="techs" layout="row" layout-align="center" >
  <md-card ng-repeat="product in main.trending | startFrom:main.currentPage*main.pageSize | limitTo:main.pageSize" flex-sm="75" layout-margin class="product-list">
   <a ng-href="{{product.url}}" class="listing">
    <div layout="row" layout-align="space-between center">
      <img flex="20" ng-src="{{product.MainImage.url_570xN}}" class="small-product-image" alt="image missing">
        <p flex="10"><strong>{{product.price | currency}}</strong></p>
        <p flex="30">{{product.title}}</p>
        <md-button class="md-raised md-primary">
            <span class="fa fa-plus">Add to Cart</span>
        </md-button>
        
    </div>
   </a>
  </md-card>
</div>
<section layout="row" layout-align="center center">    
  <md-button ng-disabled="main.currentPage == 0" ng-click="main.currentPage=main.currentPage-1" class="md-raised">
    Prev
  </md-button>
  <p>{{main.currentPage+1}} of {{main.numPages()}}</p>
  <md-button ng-disabled="main.currentPage >= main.numPages()-1" ng-click="main.currentPage=main.currentPage+1" class="md-raised">
    Next
  </md-button>
</section>