@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

// Alignments
$center: 0 auto;

html {
  font-family: 'Roboto Slab', serif;
}

[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

md-toolbar.md-default-theme {
  background-color: black;
}

.jumbotron {
    background: linear-gradient(rgba(20,230,28,0.8), rgba(20,28,230,0.3)), url('https://s-media-cache-ak0.pinimg.com/originals/b8/31/3a/b8313a7a99c24ead0308a44dfd326d79.jpg') no-repeat;
    
        h1 {
            text-align: center;
            color: white;
        }
    
}
.techs {
  flex-flow: row wrap;
}

.category {
    padding: 0 2%;
}

.product-image {
    margin: $center;
    width: 200px;
    height: 220px;
}

.small-product-image {
    width: auto;
    height: 18vh;
}

.listing {
    color: #323232;
    text-decoration: none;
}

.product-list {
    height: 20vh;
}

.title {
    display: none;
}

.fa-twitter, .fa-facebook, .fa-instagram {
    padding-top: 15%;
    font-size: 25pt;
}

md-button:not([disabled]).md-fab:hover {
    transform: none;
}

md-button#fb-btn.md-default-theme.md-fab {
    background-color: #3F51B5;
}

md-button#fb-btn.md-default-theme.md-fab:not([disabled]):hover {
    background-color: #3F51B5;
}

md-button#insta.md-default-theme.md-fab {
    background-color: #388E3C;
}

md-button#insta.md-default-theme.md-fab:not([disabled]):hover {
    background-color: #388E3C;
}


@media (min-width: 768px) {
  .title {
    display: flex;
  }
}

// injector
// endinjector
